 body {
     margin: 100px;
     padding: 100px;
     background: lime;
 }
 .wv1{

     text-align: center;
     justify-content: center;

 }

 input {
    background-color: black;
    color: white;
    text-align: center;
     border-radius: 4px;

 }
 button {
     background-color: firebrick;
     border-radius: 4px;


 }
