 body {
     margin: 0;
     padding: 0;
     background: #24262e;
 }
 .container {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .form {
     border: 2px solid #fff;
     padding: 10px;
     width: 500px;
 }
 .header {
     display: flex;
     justify-content: space-between;
 }
 .header input {
     width: 80%;
     height: 30px;
     font-size: 18px;
 }
 .header button {
     width: 20%;
 }
 .todoblock {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .actions  button {
     width: 120px;
     height: 30px;
     font-size: 18px;
     border: 2px solid #ffffff;
     text-align: center;
 }
 .todoblock p {
     color: #ffffff;
     font-size: 18px;
 }
 .change {
     background: blueviolet;
     color:#fafafa;

 }
 .delete {
     background: lawngreen;
     color: #24262e;
 }

